body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  transition: background-color .5s;
}

.Header {
  width: 100%;
  font-family: Poppins;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.home-hide {
  display: none;
}

/* styles for larger screens */
@media (min-width: 992px) {

  .hero {
    position: relative;
    width: 100%;
    display: flex;
    text-align: left !important;
    align-items: center;
    background: url('./images/welcome_background.png') center/cover no-repeat;
    margin: 0 auto;
    padding: 10vh 10vw !important;
  }

  .hero .herocontent {
    display: flex !important;
    margin: auto 0;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }


  .herocontent .hero-text {
    display: flex;
    width: 60%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px 40px 70px;
  }

  .hero-text h1 {
    font-size: 2.5rem !important;
  }

  .hero-text p {
    font-size: 1.5rem !important;
  }

  .herocontent .hero-image {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .hero-image img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
    top: -10%;
    right: -8%;
  }

  .herobtn {
    font-size: 1.5rem !important;
  }

  .button {
    display:flex;
    justify-content: space-between;
    gap: 1vw;
  }

   /*do you know section*/
   .do-you-know {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row !important;
    padding: 50px;
    background-color: #f9f9f9;
  }

  .do-you-know .content {
    padding: 0 20px;
    max-width: 40% !important;
  }
  
  .do-you-know .video {
    width: 40% !important;
  }

  #c-steps {
    display: flex !important;
    padding: 1em;
    flex-direction: row !important;
  }

  .c-items {
    margin-right: 0 !important;
    flex: 0 0 25% !important;
    display: block !important;
  }

  .card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    height: 100% !important;
  }

  .p-carousel {
    display: none !important;
  }

  .team {
    display: none !important;
  }

  .people {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .person img {
    width: 300px;
    height: auto;
    border-radius: 50%;
  }

  #carouselTeam {
    display: flex !important;
  }
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.welcome {
  color: rgba(33,52,60,1);
  font-family: Poppins;
  font-weight: Bold;
  font-size: 1.2em;
}

.welcome-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vh 2vw;
  margin: 20vh auto;
  gap: 5vh;
}


.greeting {
  width: 80%;
  margin: 0 auto;
  color: rgba(33,52,60,1);
  font-family: Poppins;
  /* text-align: justify; */
}

.button_next {
  display: flex;
  justify-content: center;
  height: 5vh;
}
.button_next .next{
  background-color: #02897A;
  color: white;
  border: none;
  padding: 8px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: Poppins;
}

.button_next a:link {
  text-decoration: none;
  color: white;
}
.button_next a:visited {
  text-decoration: none;
  color: white;
}

.select-tasks a:link {
  text-decoration: none;
  color: white;
}
.select-tasks a:visited {
  text-decoration: none;
  color: white;
}

.content .wrap-up {
  width: 100%;
  padding: 5vh 0;
  text-align: justify;
  align-items: center;
  color: rgba(33,52,60,1);
  font-family: Poppins;
  font-size: 1em;
  flex-direction: column;
}

.button_next a:link {
  text-decoration: none;
  color: white;
}
.button_next a:visited {
  text-decoration: none;
  color: white;
}

.m-content {
  display: flex;
  justify-content: space-between;
  padding: 3vh 0;
  gap: 2vmax;
  flex-direction: column;
}


/* Spinner styling */
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #02897A;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  
  /* Center the spinner */
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.1);
  z-index: 5000; /* Ensure it appears on top */
}

/* Animation for the spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Initially hide the spinner */
.hidden {
  display: none !important;
}


.content .head {
  width: 100%;
  align-items: center;
  margin: 5vh 0;
  text-align: center;
}
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(33,52,60,1);
  font-weight: Bold;
  font-size: 2em;

}
.status img{
  width: 8%;
}

.suggestion {
  display: flex;
  justify-content: center;
  color: rgba(0,0,0,1);
  font-size: 1em;
}
.content .card {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vmax;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.card_completed {
  padding: 3vh 3vw;
  background: rgb(133, 132, 132);
  border: none;
  border-radius: 1em;
  text-align: center;
}

.card_completed:hover,
.card_completed:focus {
  cursor: pointer;
}

.card_incompleted {
  padding: 3vh 0.5vw;
  color: rgb(71, 71, 71);
  background: rgb(95, 201, 109);
  border: none;
  border-radius: 1em;
  text-align: center;
}
.card_incompleted:hover,
.card_incompleted:focus {
  cursor: pointer;
}

.completion {
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  font-weight: 800;
}

.header a:link {
  text-decoration: none;
  color: black;
}

.header a:visited {
  text-decoration: none;
  color: black;
}

.button2 a:link {
  text-decoration: none;
  color: white;
}
.button2 a:visited {
  text-decoration: none;
  color: white;
}

    /*hero section*/
    .hero {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: justify;
      background: url('./images/welcome_background.png') center/cover no-repeat;
      margin: 0 auto;
      padding: 5vh 5vw;
    }
  
    .hero .herocontent {
      margin: auto 0;
      width: 100%;
      height: auto;
      z-index: 2;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .hero-text {
      display: flex;
      padding: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .hero-text h1 {
      font-size: 30px;
      margin: 0 0 20px;
      color: #333;
    }
  
    .hero-text p {
      font-size: 16px;
      margin: 0 0 20px;
      color: #555;
    }
  
    .hero-text .herobtn {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }

    .hero-image {
      display: none;
    }
  
    /*step section*/
    .step-section {
      display: flex;
      text-align: center;
      background-color: #f9f9f9;
      flex-direction: column !important;
      padding: 50px 20px;
    }
    
    .step-section h2 {
      font-size: 24px;
      margin-bottom: 30px;
      color: #333;
    }
    
    .steps {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    
    .step {
      max-width: 200px;
      text-align: center;
    }
    
    .step img {
      max-width: 100%;
      height: auto;
    }
    
    .step h3 {
      font-size: 18px;
      margin-top: 10px;
    }
    
    .step p {
      font-size: 14px;
      color: #555;
    }

    /*carousel section*/
    #carousel-section {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
    }

    .carousel-inner {
      display: flex;
    }

    .carousel-control-prev, .carousel-control-next{
      background-color: #e1e1e1 !important;
      width: 6vh !important;
      height: 6vh !important;
      border-radius: 50% !important;
      top: 50% !important;
  }

    /*do you know section*/
    .do-you-know {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #f9f9f9;
      text-align: justify;
    }
    
    .do-you-know .content {
      flex: 1;
      max-width: 80%;
    }
    
    .do-you-know h2 {
      font-size: 24px;
      color: #333;
    }
    
    .do-you-know p {
      font-size: 16px;
      color: #555;
      margin-bottom: 15px;
    }
    
    .do-you-know ul {
      list-style-type: disc;
      padding-left: 20px;
    }
    
    .do-you-know ul li {
      font-size: 16px;
      color: #555;
      margin-bottom: 10px;
    }
    
    .do-you-know .video {
      flex: 1;
      width: 90%;
      height: auto;
    }
    
    .citation {
      margin: 30px; 
      font-size: 14px;
      color: #555;
    }
    
    .citation p {
      margin-bottom: 10px; 
    }

    /*Feedback*/
    .reflect-section {
      padding: 50px 30px;
      margin:30px;
      text-align: left;
    }
    
    .reflect-section h2 {
      font-size: 24px;
      color: #333;
    }
    
    .reflect-section hr {
      border: none;
      border-top: 1px solid #313131;
      margin: 20px 0;
    }
    
    .reflect-section p {
      font-size: 16px;
      color: #555;
      margin-bottom: 15px;
    }
    
    .reflect-section ul {
      list-style-type: square;
      padding-left: 20px;
    }
    
    .reflect-section ul li {
      font-size: 16px;
      color: #555;
      margin-bottom: 10px;
    }
    
    .reflect-section a {
      color: #007bff; 
      text-decoration: underline;
    }
    
    .reflect-section a:hover {
      text-decoration: none; /* Remove underline on hover */
    }
    /* .background-section {
      display: flex;
      text-align: center;
      margin: 0 auto;
      justify-content: space-evenly;
      flex-direction: column;
    }
    
    .background-section h2 {
      font-size: 24px;
      color: #333;
    }
    
    .background-section hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 20px auto;
    }
    
    .background-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 20px;
    }
  
     */

    .people {
      display: none;
    }

    .team {
      display: flex;
      flex-wrap: wrap !important;
      justify-content: center;
      gap: 10px;
    }
    
    .team-member {
      text-align: center;
    }
    
    .team-member img {
      width: 100px;
      height: auto;
    }
    
    .team-member p {
      margin-top: 10px;
    }

    #carouselTeam {
      display: none;
    }
    
    .acknowledgment {
      margin-top: 30px;
    }
    
    .acknowledgment p {
      font-size: 14px;
    }
    
    .icon {
      width: 100px;       
      height: 150px;
      display: inline-block;
      margin: 0 auto;
    }

    #c-steps {
      display: block;
      padding: 2em;
    }
    
    .card{
      margin: 0 .5em;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border: none;
      height: 100% !important;
    }
  

.welcome {
  color: rgba(33,52,60,1);
  font-family: Poppins;
  font-weight: Bold;
  font-size: 1.5em;
}
.content .wrap-up {
  display: flex;
  padding: 5vh 0;
  text-align: center;
  align-items: center;
  font-family: Poppins;
  font-size: 1em;
  flex-direction: column;
}

.warp-up  img {
  width: 16px;
}

.button_take_quiz {
  width: 100%;
  text-align: center;
}
.take{
  background-color: #02897A;
  font-family: Poppins;
  color: white;
  border: none;
  padding: 1vh 1vw;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
}

.content .arrow_space {
  width: 100%;
}
.arrow_space .arrow {
  width: 5%;
  height: auto;
  background-image: url('../images/arrow.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 5%;
}
.content .info_space {
  width: 100%;
  margin: 0 auto;
}
.content .info_space p {
  color: #02897A;
}
.btn_next {
  display: flex;
  justify-content: flex-end;
}
.radios {
  list-style-type: none;
}
.btn_next .next {
  color: white;
  background-color: #02897A;
  font-family: Poppins;
  font-size: 1em;
  text-align: center;
  border: none;
  padding: 1vh 2vw;
  border-radius: 0.5em;
}

.button_next a:link {
  text-decoration: none;
  color: white;
}
.button_next a:visited {
  text-decoration: none;
  color: white;
}

.subheader {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.button2 {
  display: flex;
  justify-content: center;
}
.button2 > .start {
  border: none;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  padding: 1vh 2vw;
  background-color: grey;
  color: white;
  border-radius: 0.5em;
}

.improvement {
  display: flex;
  justify-content: center;
  padding: 3vh 0;
}
#good {
  border: none;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  padding: 1vh 3.5vw;
  background-color: #559e4f;
  color: rgb(255, 255, 255);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#notyet {
  border: none;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  padding: 1vh 2vw;
  background-color: #891202;
  color: white;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.task-content {
  display: flex;
  align-items: center;
  padding: 2vh 0;
  font-size: 1em;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn-q {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
  font-size: 1em;
}

.q-task {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 2vh 2vw;
  flex-wrap: wrap;
  gap: 2vh;

}

.question-block {
  width: 80%;
  background-color: rgb(255, 249, 249);
  padding: 2vh 1vw;
}

.q-task ul {
  list-style: none;
  padding: 2vmax;
}

.task-label {
  display: flex;
  justify-content: flex-start;
  gap: 0.5vw;
}

.task-content img:hover, 
.task-content img:focus {
  cursor: pointer;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.align .modal {
  display: flex;
  margin: 0 auto;
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal > .btn {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.modal-content {
  display: flex;
  width: 80%;
  max-height: 90%;
  text-align: justify;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#visual_info {
  width: 95%;
}

.overlay2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

.hidden2 {
  display: none !important;
}

.align2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
}


.modal2 {
  display: flex;
  width: 80%;
  max-height: 80%;
  margin: 0 auto;
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal2 > .btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


#inform {
  width: 80%;
  max-height: 80vh;
}


.btn > .close {
  background: #aaa;
  font-size: 2em;
  font-weight: bold;
  border-radius: 0.5em;
  border: 0.5em grey;
}

.close:hover,
.close:focus {
  cursor: pointer;
  background-color: #02897A;  /* Use the brand color for hover */
  color: white;  /* Make the text color white for better contrast */
  transform: scale(1.1);  /* Increase size slightly on hover */
}


.header a:link {
  text-decoration: none;
  color: black;
}

.header a:visited {
  text-decoration: none;
  color: black;
}

.button2 a:link {
  text-decoration: none;
  color: white;
}
.button2 a:visited {
  text-decoration: none;
  color: white;
}

.content .quiz {
  overflow: scroll;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}

.content .btn-next {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.next {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  padding: 1vh 2vw;
  border-radius: 0.5em;
  border: none;
  background-color: #02897A;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vh 0;
  gap: 2vmax;
  flex-direction: column;
}

.content ul {
  list-style-type: none;
}
.content .up {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2vmax;
}
.content .up .section {
  width: 50%;
  border-right: 1.5em solid #02897A;;
  border-bottom: 1.5em solid #02897A;;
  border-radius: 2em;
}
.q-num {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #02897A;
  color: white;
}
.qhead {
  width: 100%;
  padding: 10px 0;
}
.content .down {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 5vmax;
}
.content .down .section {
  width: 50%;
  border-right: 0.3em solid #02897A;;
  border-bottom: 0.3em solid #02897A;;
  border-radius: 1px;
}


.next a:link {
  text-decoration: none;
  color: white;
}
.next a:visited {
  text-decoration: none;
  color: white;
}

.pre-postQ {
  display: flex;
  justify-content: flex-end;
  margin: 2vh 0;
}
#preQ {
  font-family: 'Poppins', sans-serif;
  background-color: #b1d8d3;
  color: rgb(109, 102, 102);
  border: none;
  padding: 1vh 1vw;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  font-size: 1em;
}
#postQ {
  font-family: 'Poppins', sans-serif;
  background-color: #02897A;
  color: white;
  border: none;
  padding: 1vh 1vw;
  font-size: 1em;
}

#com-tasks {
  font-family: 'Poppins', sans-serif;
  background-color: #02897A;
  color: white;
  border: none;
  padding: 1vh 1vw;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  font-size: 1em;
}

.result {
    text-align: center;
    margin: 5vh 0;
}
.result .congrats {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.result img {
    width: 5vmax;
}
.result h1 {
    font-size: 3vmax;
    color: #02897A;
}

.result .score {
    width: 100%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    gap: 2vmax;
    color: #02897A;
}

.score .circle{
    height: 10em;
    background-image: url('./images/circle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.score h2 {
    font-size: 2em;
    margin: auto auto;
}
.score p {
    font-size: 1em;
    color: grey;
}

.result .next-step {
    padding: 0.5vh 0;
    font-size: 1em;
    color: #02897A;
}

.result .suggestion {
  padding: 0.5vh 0;
  font-size: 1em;
  color: #666;
}

.result .select-tasks {
    background-color: #02897A;
    color: white;
    padding: 2vh 1vw;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    gap: 1vmax;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
}
.q {
    display: flex;
    flex-direction: column;
}
.question {
    background-color: #fff;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0.4em 0.6em rgba(0, 0, 0, 0.1);
    width: 30%;
}

.question h3 {
    margin-top: 0;
    font-size: 1em;
}

.question.red {
    border-left: 0.5em solid #ff6b6b;
}

.question.green {
    border-left: 0.5em solid #2ecc71;
}

.history-table {
  display: flex;
  position: relative;
  padding: 1vh 1vw;
  margin: 5vh auto;
}
#h-table {
  position: relative;
}
