<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Your PlanEATary Quest: Password Reset</title>
<style type="text/css">
.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: auto;
    max-width: 600px;
    padding: 20px;
}
.content {
    background-color: rgba(68, 172, 123, 0.3);
    border-radius: 60px 0 60px 0;
    padding: 20px;
    text-align: center;
}
.content > * {
    margin: 20px 0;
}
button {
    background-color: rgb(69, 175, 74);
    border-color: rgb(69, 175, 74);
    border-radius: 10px;
    border-style: solid;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px;
    width: auto;
}
button:hover {
    background-color: rgb(54, 133, 58);
    border-color: rgb(54, 133, 58);
}
a {
    color: rgb(18, 141, 104);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.footer {
    background-color: #f0ebeb;
    border-radius: 25% 25% 20px 20px;
    color: #666;
    font-size: 10pt;
    font-style: italic;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.footer > img {
    display: inline-block;
    height: auto;
    width: 105px;
}
</style>
<div class="container">
    <h2>Dear ${aed://name},</h2>
    <p>A password reset link has been requested for your account.</p>
    <div class="content">
        <p>Click the link below to visit our <a href="https://planeatary.netlify.app" target="_blank">website</a> and reset your password.</p>
        <p><a href="${aed://url}"><button>Reset password</button></a></p><em>${aed://url}</em>
        <p>This link expires in 10 minutes.</p>
    </div>
    <p>If this was not requested by you, no action is needed. Your password will remain unchanged.</p>
    <p>Thanks for being part of the PlanEATary Quest.</p>
    <p style="font-size: 0.9em">The PlanEATary Quest Development Team</p>
    <div class="footer">
        <img src="https://uow.au1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_bau1AkgKURETsIS" />
        <p>The PlanEATary Quest is brought to you by Dietitians Australia’s (DA) Food & Environment Interest group with support from the International Confederation of Dietetic Associations (ICDA).</p>
        <img src="https://uow.au1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_mXd5iG78UTdNXY7" />
        <img src="https://uow.au1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_0VmYW7kUTIQs23m" />
    </div>
</div>
