body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background-color: white;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #02897A;
  gap: 20px;
}
.header .logo {
  font-weight: Bold;
  color: #02897A;
}
nav ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}
nav ul li {
  display: inline-block;
}
.button {
  cursor: pointer;
}

.button .signIn {
  background-color: #02897A;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ddd;
  color: #333;
  font-size: 16px;
  font-family: Poppins;
}

.button .signUp {
  background-color: #02897A;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #02897A;
  color: white;
  font-size: 16px;
  font-family: Poppins;
}
.content {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.welcome {
  color: rgba(33,52,60,1);
  font-family: Poppins;
  font-weight: Bold;
  font-size: 32px;
}
.v2320_689 {
  width: 100%;
  padding: 150px;
  color: rgba(33,52,60,1);
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
}
.button_next {
  display: flex;
  align-items: center;
  padding: 0 500px;
}
.next{
  background-color: #02897A;
  color: white;
  border: none;
  padding: 8px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: Poppins;
}

.header a:link {
  text-decoration: none;
  color: black;
}

.header a:visited {
  text-decoration: none;
  color: black;
}

.button_next a:link {
  text-decoration: none;
  color: white;
}
.button_next a:visited {
  text-decoration: none;
  color: white;
}